<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center hero-text">
        <h1 class="">Home Page</h1>
        <a class="btn btn-large btn-success" href="#"><i class="fa fa-home"></i> Sign up today</a>
    </div>
  </div>
</div>